* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

input[type="file"] {
    display: none; /* Oculta el botón de archivo por defecto */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

button {
    background-color: #34d90f;
    margin: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #26ab01;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

#file-name {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #666;
}
